<div class="text"><%= question.text %></div>
<div class="description"><%= question.description %></div>

<% if question.completed_by? current_author %>
  <%= t 'tasks.taskables.questions.answers.already_answered' %>
  <div class="answer">
    <% question.answers.by(current_user).each do |answer| %>
      <ul>
	  	<% answer.votes.each do |vote| %>
        <%= vote.option.text %>
      <% end %>
      </ul>
    <% end %>
    <%= render 'tasks/taskables/questions/answers/statistics', question: question %>
  </div>
<% else %>
  <div class="options">
    <%= render 'tasks/taskables/questions/answers/form', question: question %>
  </div>
<% end %>
