<% if question.image? %>
  <div class="image"><%= image_tag question.image %></div>
<% end %>

<div class="text"><%= question.text %></div>
<div class="description"><%= question.description %></div>

<% if question.completed_by? current_author %>
  <%= t 'tasks.taskables.questions.answers.already_answered' %>
  <div class="answer">
    <% question.answers.by(current_author).each do |answer| %>
      <ul>
	  	<% answer.votes.each do |vote| %>
        <%= vote.option.text %>
      <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <div class="options">
    <%= render partial: 'tasks/taskables/questions/answers/form', locals: { question: question } %>
  </div>
<% end %>
