<% if request.image? %>
  <div class="image"><%= image_tag request.image %></div>
<% end %>

<div class="text"><%= request.text %></div>
<div class="description"><%= request.description %></div>

<% if request.completed_by? current_author %>
  <%= t 'tasks.taskables.images.responses.already_uploaded' %>
  <div class="response">
    <% request.responses.by(current_user).each do |response| %>
      <%= image_tag response.image %>
    <% end %>
  </div>
<% else %>
  <div class="form">
    <%= render partial: 'tasks/taskables/image/responses/form', locals: { request: request } %>
  </div>
<% end %>
