<div class="text"><%= request.text %></div>
<div class="description"><%= request.description %></div>

<% if request.completed_by? current_author %>
  <%= t 'tasks.taskables.texts.responses.already_responded' %>
  <div class="response">
    <% request.responses.by(current_user).each do |response| %>
      <%= response.text %>
    <% end %>
  </div>
<% else %>
  <div class="form">
    <%= render partial: 'tasks/taskables/text/responses/form', locals: { request: request } %>
  </div>
<% end %>
