<%= form_for Tasuku::Taskables::Question::Answer.new, url: tasuku.question_answers_path(question_id: question.id), method: :post do |form| %>
  <% question.options.each do |option| %>
    <div class="question option">
      <% if question.multiple? %>
        <%= check_box_tag 'taskables_question_answer[option_ids][]', option.id %>
      <% else %>
        <%= radio_button_tag 'taskables_question_answer[option_ids][]', option.id %>
      <% end %>
      <%= form.label :option_id, option.text, value: option.id %>
    </div>
  <% end %>

  <%= form.submit t('tasuku.taskables.questions.answers.submit') %>
<% end %>
