<%= form_for question.answers.build, url: tasks.question_answers_path(question_id: question.id), method: :post do |form| %>
  <%= form.hidden_field :option_id, value: 0 %>

  <% question.options.each do |option| %>
    <div class="question option">
      <%= form.radio_button :option_id, option.id %>
      <%= form.label :option_id, option.text, value: option.id %>
    </div>  
  <% end %>

  <%= form.submit t('tasks.taskables.questions.answers.submit') %>
<% end %>
