<%= form_for Tasks::Taskables::Question::Answer.new, url: tasks.question_answers_path(question_id: question.id), method: :post do |form| %>
  <% question.options.each do |option| %>
    <div class="question option">
      <% if question.multiple? %>
        <%= check_box_tag 'taskables_question_answer[option_ids][]', option.id,
              false, id:  "taskables_question_answer_option_id_#{option.id}" %>
      <% else %>
        <%= radio_button_tag 'taskables_question_answer[option_ids][]', option.id,
              false, id:  "taskables_question_answer_option_id_#{option.id}" %>
      <% end %>
      <%= form.label :option_id, option.text, value: option.id %>
    </div>
  <% end %>

  <%= form.submit t('tasks.taskables.questions.answers.submit') %>
<% end %>
